<div class="title_view new_title mt-4 ml-5">『ええじゃないか！』へようこそ！</div>
<span class="under_border_title_new new_under mt-4 ml-5"></span>

<div class="post_index_title new_sub_title " >新規ユーザー登録 ↓</div>
<span class="under_border_subtitle new_sub_under"></span>

<div class="form_area new_area">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= render "customers/shared/error_messages", resource: resource %>
    <div class="form-group mt-4">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, placeholder: "※必須項目 公開用ネーム", autocomplete: "nickname", class: "form-control"  %>
    </div>
    <div class="form-group mt-4">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, placeholder: "※必須項目",  autocomplete: "email", class: "form-control"  %>
    </div>
    <div class="form-group mt-4">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder: "※必須項目", autocomplete: "new-password",class: "form-control"  %>
    </div>
    <div class="form-group mt-4">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, placeholder: "※必須項目" ,  autocomplete: "new-password", class: "form-control" %>
    </div>
    <div class="form-group text-center mt-5">
      <%= f.submit "新規登録！", placeholder: "※必須項目",  class: 'btn btn-warning form_btn'  %>
    </div>
    <div class="mb-5 mt-5">
      <%= render "customers/shared/links" %>
    </div>
  <% end %>
</div>
