<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="notification_area notification_under_line mb-4 ml-5">
  <%= link_to customer_path(visitor) do %>
    <%= attachment_image_tag visitor, :profile_image, :fill, 80, 80, format: 'jpg', fallback: "no_image.jpg", class: "notification_icon mr-5" %>
    <%= visitor.nickname %>さんが
  <% end %>
  <% pp notification.action%>
  <% case notification.action %>
  <% when 'favorite' then %>
    <%= link_to 'あなたの投稿', notification.post, style: "font-weight: bold;" %>"にいいねしました！
    <div class="text-right small">
      (<%= time_ago_in_words(notification.created_at).downcase %>前)
    </div>
  <% when 'post_comment' then %>
    <% if notification.post.customer_id == visited.id %>
      <%= link_to "あなたの投稿", notification.post, style: "font-weight: bold;" %>
      にコメントしました
    <% else %>
      <%= link_to post_path(notification.post) do %>
        <%= notification.post.customer.nickname + 'さんの投稿' %>にコメントしました！
      <% end %>
    <% end %>
    <div>
      <div class="text-center">
        <%= notification.post_comment.comment %>
      </div>
      <div class="text-right small">
        (<%= time_ago_in_words(notification.created_at).downcase %>前)
      </div>
    </div>
  <% end %>
</div>