<h1>ユーザー編集</h1>
<div class="container">
  <div class="row">
      <div class="form-group">
        <%= "ユーザーid" %>
        <%= @customer.id %>
      </div>
    <%= form_with model:[:admins, @customer], local:true do |f| %>
      <div class="form-group">
        <%= "ユーザー名" %>
        <%= f.text_field :nickname, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "プロフィール画像" %>
        <%= f.attachment_field :profile_image %>
      </div>
      <div class="form-group">
        <%= f.label "好きな言葉" %>
        <%= f.text_field :word, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "変更", class: 'btn btn-danger' %>
      </div>
    <% end %>
  </div>
</div>


