<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render "layouts/profile", customer: @customer %>
    </div>
    <div class="offset-md-1 col-md-8">
      <h1><%= @customer.nickname %>さんの『夢中』一覧</h1>
      全<%= @customer.posts.count %>件
      <%= render "posts/index", posts: @posts %>
      <%= paginate @posts %>
    </div>
  </div>
</div>

