<div class="loading">
  <div class="animation">夢中になってもええじゃないか！</div>
</div>
<div class="row">
  <div class="col-2">
    <div>
      <%= render "layouts/profile", customer: @customer %>
    </div>
  </div>

  <div class="col-10">
    <div class="title_view">投稿一覧</div>
    <span class="under_border_title"></span>
    <%= render "posts/search_form" %>
    <div class="body_area">
      <div class="category_area">
        <% @categories.each do |category| %>
          <%= link_to category.name, category_posts_path(category), class:"btn btn-warning category_btn  mr-3" %>
        <% end %>
      </div>
      <div class="post_index_title mt-3" >『夢中』が全<%= @posts.count %>件あります！</div>
      <span class="under_border_subtitle"></span>
      <div class="d-flex align-content-start flex-wrap ml-4 mt-4">
        <%= render "posts/index", posts: @posts %>
      </div>
      <div class="mt-3">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>