<div class="loading">
  <div class="animation">お、新しい投稿ですか！</div>
</div>

<div class="title_view mt-3 ml-5 ">新規『 夢中 』投稿！</div>
<span class="under_border_title_new mt-3"></span>

<div class="form_area mb-5">
  <%= form_with model: @post, local:true do |f| %>
    <div class="form-group mt-4">
      <%= f.label "ジャンル選択" %>
      <%= f.collection_select(:category_id, Category.all, :id, :name) %>
    </div>
    <div class="form-group mt-4">
      <%= f.label "画像" %>
      <%= f.attachment_field :image %>
    </div>
    <div class="form-group mt-4">
      <%= f.label "タイトル" %>
      <%= f.text_field :title, placeholder: "今回の『夢中』を一言で表現！", class: "form-control" %>
    </div>
    <div class="form-group mt-4">
      <%= f.label "コメント" %>
      <%= f.text_area :body, placeholder: "『夢中』になっている事の詳細をお願いします！", class: "form-control" %>
    </div>
    <div class="form-group mt-4">
      <%= f.label "次回挑戦したい詳細" %>
      <%= f.text_field :try, placeholder: "行きたい場所や何をやりたいのかなど！", class: "form-control" %>
    </div>
    <div class="form-group text-center mt-5">
      <%= f.submit "『夢中』を投稿してもええじゃないか！", class: 'btn btn-warning form_btn' %>
    </div>
  <% end %>
</div>
