<h1>夢中一覧</h1>

<!--bootstrapでカード化-->
<% @post_searches.each do |post| %>
  <div>
    <div>
      <%= post.category.name  %>
    </div>
    <div>
      <%= link_to post_path(post) do %>
        <%= attachment_image_tag post, :image, :fill, 200, 200, format: 'jpeg' %><br>
      <% end %>
    </div>
    <div>
      <%= post.title %><br>
    </div>
    <div>
      
    </div>
    <div>
      <%= post.customer.nickname %>
    </div>
    <div>
      コメント<%= post.post_comments.count %> | GOOD♥<%= post.favorites.count %>
    </div>
  </div>
<% end %>