<div class="profile_introduction">

  <h3 class="text-center">Myプロフィール</h3>

  <span class="profole_nickname_side text-center"><%= customer.nickname %>さん</span>

  <div class="card">
    <div class="card-img-top">
      <%= image_tag'eejanaika_profile.png', class: "img_profile" %>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><span class="title_font">【最近の夢中は？】</span></br></br>
       <%= customer.crazy %>
      </li>
      <li class="list-group-item"><span class="title_font">【アプリを利用して良かった事は？】</span></br></br>
        <%= customer.word %>
      </li>
    </ul>
    <div>
      <%= attachment_image_tag customer, :profile_image, size: "60x60", format: 'jpeg', fallback: "no_image.jpg", class: "profile_image_custom" %>
    </div>
    <div>
      <% if customer.email != "guest@example.com"  %>
        <%= link_to "プロフィール編集", edit_customer_path(customer), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
      <% end %>
    </div>
  </div>
</div>



