<h2>プロフィール</h2>

<div>
  <div>
    <%= customer.nickname%>
  </div>
  <div>
    <%= attachment_image_tag customer, :profile_image, size: "60x60", format: 'jpeg', fallback: "no_image.jpg" %>
  </div>
  <div>
    夢中になっている事: <%= customer.crazy %>
  </div>
  <div>
    好きな言葉: <%= customer.word %>
  </div>
  <div>
    <%= link_to "プロフィール編集", edit_customer_path(customer), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
  </div>
</div>
